// ============================ //
// ========== css变量 ========== //
// ============================ //

// ====== color ======
$default: #1A1A1A !default;      // 通用文本
$white: #fff !default;
$black: #000 !default;
$dark: #1c2327 !default;
$darkish: #2c3542 !default;   // 浅黑
$deepGray: #364150 !default;
$gray:  #9B9B9B !default;     // 灰
$lightgray: #F9F9F9 !default; // 浅灰
$lightgray2: #F6F6F6 !default;
$blue: #0084FF !default;
$babyblue:  #00c1de !default;
$yellow: #FFC367 !default;
$green: #28DA99 !default;
$pink: #FF7477 !default;

// ====== Button Color ====== //
// primary-蓝色，success-绿色，warning-黄色，danger-红色
$button-colors: (
  primary: (base: $babyblue),
  success: (base: $green),
  warning: (base: $yellow)
);


// ====== Container ====== //
$container_width: 1200px !default;

// ====== Footer ======
$footer_height: 70px !default;
