@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';

html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.clearfix {
  @include clearfix;
}